<h1>Listing products</h1>

<%= grid(@products) do |g|
	g.column :column_name => "name", :attribute_name => "name" do |product|
		product.name
	end
	g.column :column_name => "quantity", :attribute_name => "quantity" do |product|
		product.quantity
	end
	g.column :column_name => "location", :attribute_name => "location" do |product|
		product.location
	end	
	g.column :column_name => "harvested on", :attribute_name => "harvested_on" do |product|
		product.harvested_on.strftime('%D')
	end
	g.column do |product|
		link_to('Edit', edit_product_path(product))
	end
	# g.column do |product|
	# 	link_to('show', product)
	# end
	g.column do |product|
		link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete
	end
end -%>

<br />

<%= link_to 'New product', new_product_path %>
